@font-face {
    font-family: AFMTelethonBold;
    src: url('../fonts/AFMTelethon-Bold.otf');
}

body {
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 18px;
    color: #555;
    padding-top: 50px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.pointer {
  cursor: pointer;
}

/* Titles */

h1 {
    font-family: AFMTelethonBold;
    font-weight: 300;
    color: #333;
}

h1 > small, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */

.btn-link {
    color: #00295B;
}

.btn-link:hover, .btn-link:focus {
    color: #00505A;
}

a {
    color: #00295B;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #00505A;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

/*
#navigation {
    background-color: #EA670B;
    border-color: transparent;
}

#navigation .navbar-nav > li > a {
    color: white;
}

#navigation .navbar-nav > .active > a {
    color: #555;
    background-color: #e7e7e7;
}
*/

#headerwrap {
	background-color: #EA670B;
	padding-top: 60px;
}

#headerwrap h1, #headerwrap h1 > small {
	margin-top: 30px;
	color: white;
	font-size: 70px;
}

#headerwrap h3 {
    color: white;
    font-size: 30px;
}

#headerwrap h4 {
    color: white;
    //font-size: 30px;
}

#headerwrap h5 {
	color: white;
	font-weight: 700;
	text-align: left;
}

#headerwrap p {
	text-align: left;
	color: white
}

/* intro Wrap */

#features {
	padding-top: 50px;
    padding-bottom: 30px;
	border-top: #bdc3c7 solid 5px;
}

#features .row {
    padding-bottom: 20px;
}

#intro {
    background-color: #00505A;
	padding-top: 50px;
	padding-bottom: 50px;
}

#intro h1, #intro p {
    color: white;
}

#intro .thumbnail {
    //background-color: #00B1B9;
}

#features .ac a{
	font-size: 20px;
}

/* Showcase Wrap */

#showcase {
	display: block;
	//background-color: #34495e;
	padding-top: 40px;
	padding-bottom: 50px;
    margin-top: 10px;
}

#showcase .thumbnail {
	background-color: #00295B;
}

#showcase .thumbnail h3, #showcase .thumbnail p {
    color: white;
}

#parrains {
    background-color: #A20054;
}

#parrains * {
    color: white;
}

#parrains .thumbnail {
    background-color: #f2f2f2;
}

#parrains .thumbnail h3, #parrains .thumbnail p {
    color: #555;
}

#footerwrap {
	background-color: #EA670B;
	color: white;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: left;
}

#footerwrap h1 {
    color: white;
}

#footerwrap h3 {
    font-size: 28px;
    color: white;
}

#footerwrap p {
	color: white;
	font-size: 18px;
}

/* Copyright Wrap */

#c {
	background: #222222;
	padding-top: 15px;
	text-align: right;
}

#c p {
	color: white
}

.modal-header h4 {
    font-family: AFMTelethonBold;
    font-size: smaller;
}

